<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pumpkin Pi</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}" />
	</head>
	<body>
		<header>
			<h4>Pumpkin Pi</h4>
			<nav>
				<ul>
					<li><a href="#photoBooth">Photo Booth</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</nav>
		</header>
		<main id="viewing-window">
			<center><img src="stream.mjpg" width="640" height="480" /></center>
		</main>
		<footer id="photoBooth"></footer>
	</body>
</html>
