<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pumpkin Pi</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{url_for('static',filename='style.css')}}"
		/>
	</head>
	<body>
		<!-- Benner section -->
		<section id="banner"></section>
		<!-- PhotoBooth section -->
		<main id="photoBooth">
			<div id="photos">
				<!-- Interate thru the images list passed from app.py -->
				{% for image in images %}
				<div class="photo">
					<img src="{{ image }}" />
					<button data-url="{{image}}" class="sendPic">Send Me Dis</button>
				</div>
				{% endfor %}
			</div>
		</main>
		<!-- A modal window to send pictures to user -->
		<div class="modal hide">
			<div class="modal-content">
				<span class="close">&times;</span>
				<form>
					<p>Enter Your email to send the Picture</p>
					<img src="" />
					<div class="userInput">
						<input id="userEmail" type="email" />
						<a href="">Send</a>
					</div>
				</form>
			</div>
		</div>
		<script>
			// Get the modal
			let modal = document.querySelector('.modal');
			// Get the <span> element that closes the modal
			let span = document.getElementsByClassName('close')[0];
			let email = document.getElementById('userEmail');

			// Show the modal whenever user clicks sendpic button
			document.body.addEventListener('click', function (e) {
				if (e.target.matches('.sendPic')) {
					const url = e.target.dataset.url;
					document.querySelector('.modal img').src = url;
					document.querySelector('.modal').classList.remove('hide');
				}
			});
			// Whenever user types in email, update the href of the send button
			email.addEventListener('input', function (e) {
				let email = e.target.value;
				console.log(email);
				let base64Image = getBase64Image();
				document.querySelector(
					'.modal a'
				).href = `mailto:${email}?subject=PictureFromPumpkinPi&body=${base64Image}`;
				console.log(base64Image);
			});
			// When the user clicks on <span> (x), close the modal
			span.onclick = function () {
				modal.classList.add('hide');
			};

			// This Function convert Image to URI code
			function getBase64Image() {
				let dataURL = '';
				try {
					let img = document.querySelector('.modal img');
					// Create an empty canvas element
					let canvas = document.createElement('canvas');
					canvas.width = 1024;
					canvas.height = 768;
					// Copy the image contents to the canvas
					let ctx = canvas.getContext('2d');
					ctx.drawImage(img, 0, 0);
					dataURL = canvas.toDataURL('image/jpeg');
				} catch (e) {
					console.log(
						'Could not retrieve Base64 image with userAgent : ' +
							navigator.userAgent +
							' \nException : ' +
							e
					);
				}
				return dataURL;
			}
		</script>
	</body>
</html>
