<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pumpkin Pi</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{{url_for('static',filename='style.css')}}"
		/>
	</head>
	<body>
		<section id="banner"></section>
		<main id="photoBooth">
			<div id="photos">
				{% for image in images %}
				<div class="photo">
					<img src="{{ image }}" />
					<button class="sendPic">Send Me Dis</button>
					<!-- <div class="modal">
						<div class="modal-content">
							<p>this is the text inside the modal</p>
						</div>
					</div> -->
				</div>
				{% endfor %}
			</div>
		</main>
	</body>
</html>
